<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="topbar">
        <h2>Owner Dashboard</h2>
        <a class="logout" href="/logout">Logout</a>
    </div>

    <div class="cards">
        <div class="card red">
            <h3>Pending Customers</h3>
            <p>{{ pending }}</p>
        </div>

        <div class="card green">
            <h3>Paid Customers</h3>
            <p>{{ paid }}</p>
        </div>
    </div>

    <h3>Add Customer</h3>
    <form method="POST" action="/add_customer" class="form-row">

        <select name="section">
            <option>Select Section</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>

        <input name="customer_id" placeholder="Customer ID">
        <input name="name" placeholder="Customer Name">
        <input name="phone" placeholder="Phone Number">

        <select name="status">
            <option>Select Status</option>
            <option>Active</option>
            <option>Inactive</option>
        </select>

        <input name="opening_paid" value="0">

        <button>Add Customer</button>
    </form>

    <h3>Update Payment</h3>
    <form method="POST" action="/update_payment" class="form-row">

        <select name="section">
            <option>Select Section</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
        </select>

        <input name="customer_id" placeholder="Customer ID">
        <input name="amount" placeholder="Amount ₹">

        <button>Update Payment</button>
    </form>

    <h3>Upload Excel</h3>
    <form method="POST" action="/import_excel" enctype="multipart/form-data">
        <input type="file" name="file">
        <button>Upload</button>
    </form>

    <h3>Customers</h3>

    <table>
        <tr>
            <th>Section</th>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Total Paid</th>
            <th>Months</th>
            <th>Due</th>
            <th>Billing</th>
        </tr>

        {% for c in customers %}
        <tr>
            <td>{{ c.section }}</td>
            <td>{{ c.customer_id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.phone }}</td>

            <td class="{{ 'active' if c.status == 'Active' else 'inactive' }}">
                {{ c.status }}
            </td>

            <td>₹{{ c.total_paid }}</td>
            <td>{{ c.months }}</td>
            <td>₹{{ c.due }}</td>

            <td class="{{ 'paid' if c.due == 0 and c.total_paid > 0 else 'pending' }}">
                {{ "PAID" if c.due == 0 and c.total_paid > 0 else "PENDING" }}
            </td>
        </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>
